.navbar .nav-link.active-link {
  color: #ffb300;
  font-weight: bold;
}

.navbar {
  transition: transform 0.3s;
}

.scrolled {
  transform: translateY(-100%);
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
  color: #ffb300;
}

.navbar-dark .nav-link {
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.nav-link:hover{
  color: white;
}

.navbar{
  background: rgba(24, 24, 19, 0.8);
}
