<div class="footer">

  <div class="footer container pt-4 pb-3">
    <div class="row">

      <div class="col-lg-4 footer-brand">
        <h1>Ustuvor</h1>
        <p>Some some some</p>
      </div>

      <div class="col-lg-4">
        <a routerLink="">Home</a>
        <a routerLink="">Menu</a>
        <a routerLink="">About</a>
        <a routerLink="">Contact</a>
      </div>

      <div class="col-lg-2 pt-sm-3">
        <a href="" target="_blank"><i class="bi bi-facebook" style="color: #1876f0;"></i></a>
        <a href="" target="_blank"><i class="bi bi-telegram" style="color: #1e94cf;"></i></a>
        <a href="" target="_blank"><i class="bi bi-instagram" style="color: #e50589;"></i></a>
      </div>

    </div>
  </div>

</div>
