<footer class="footer-container">
  <div class="container pt-4 pb-3">
    <div class="row">
      <div class="col-lg-4 footer-section text-center">
        <a routerLink=""><h1>Устувор</h1></a>
        <p>Ваш надежный выбор для создания стильной и удобной мебели</p>
      </div>
      <div class="col-lg-6 footer-section text-center">
        <div class="navigation">
          <a routerLink="" class="footer-link">Главная</a>
          <a routerLink="menu" class="footer-link">Меню</a>
          <a routerLink="about" class="footer-link">О нас</a>
          <a routerLink="contact" class="footer-link">Контакт</a>
        </div>
      </div>
      <div class="col-lg-2 py-3 footer-section text-center mt-2">
        <a href="https://www.facebook.com/profile.php?id=100039272946541" target="_blank" class="social-link facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/ustuvor_mebel/" target="_blank" class="social-link instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://t.me/daler0002" target="_blank" class="social-link telegram"><i class="bi bi-telegram"></i></a>
      </div>
    </div>
  </div>
</footer>
