<section class="contact vh-100">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-form">
          <h2>Свяжитесь с нами</h2>
          <form action="">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Имя">
            </div>
            <div class="mb-3">
              <input type="tel" class="form-control" placeholder="Номер телефона">
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-cadetblue">Отправить</button>
          </form>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-info">
          <h2>Оставьте сообщение, мы вам перезвоним</h2>
          <p>Или звоните нам сами по номеру:</p>
          <p class="phone-number">92 777 7777</p>
        </div>
      </div>
    </div>
  </div>
</section>
