<main class="py-10 px-4 sm:p-6 md:py-20 md:px-8">
  <div class="mx-auto max-w-5xl pt-14">
    <button
      routerLink="/"
      type="button" class="bg-[#ECECEC] text-slate-800 text-sm leading-6 font-medium py-2 px-3 rounded-lg">
      Назад
    </button>
  </div>
  <div
    *ngIf="detailData"
    class="max-w-4xl mx-auto grid grid-cols-1 lg:max-w-5xl lg:gap-x-20 lg:grid-cols-2">
    <div
      class="relative p-3 col-start-1 row-start-1 flex flex-col-reverse rounded-lg bg-gradient-to-t from-black/75 via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
      <h1 class="py-2 text-3xl lg:text-4xl md:text-4xl sm:text-3xl font-semibold text-white sm:text-black ">{{detailData.name}}</h1>
      <p class="text-md leading-4 font-medium text-white sm:text-slate-500 ">Ustuvor</p>
    </div>
    <div
      class="grid gap-4 mt-10 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-1 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
      <img [src]="detailData.img" alt="Устувор мебель"
           class="w-full h-full object-cover rounded-lg sm:h-full sm:col-span-2 lg:col-span-full" loading="lazy">
    </div>
    <dl class="mt-4 text-xs font-medium items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
      <dd class="flex items-center">
        <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
             stroke-linejoin="round" class="mr-1 text-slate-400" aria-hidden="true">
          <path d="M18 11.034C18 14.897 12 19 12 19s-6-4.103-6-7.966C6 7.655 8.819 5 12 5s6 2.655 6 6.034Z"/>
          <path d="M14 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
        </svg>
        Худжанд, Таджикистан
      </dd>
      <div class="flex lg:mt-5 mt-5 space-x-4 md:space-x-4 md:flex md:justify-center lg:justify-start">
        <a aria-label="add to slack" [href]="links.link"
           *ngFor="let links of (links | async)"
           class="sm:py-1.5 sm:px-3 px-2 py-2 border border-gray-900 rounded-full duration-200
                  hover:border-yellow-400 hover:shadow-lg hover:shadow-orange-500/60">
          <div class="flex justify-center items-center space-x-2">
            <img [src]="links.icon" [alt]="links.alt"
                 class="sm:w-8 sm:h-8 w-6 h-6" loading="lazy">
            <span class="hidden font-medium md:block text-gray-700">{{links.name}}</span>
          </div>
        </a>
        <div
          class="md:hidden lg:hidden xl:hidden col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
          <button type="button" class="bg-[#FFB300] text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg">
            Заказать
          </button>
        </div>
      </div>
    </dl>
    <div
      class="hidden sm:block xs:hidden mt-4 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
      <button type="button" class="bg-[#FFB300] text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg"
      routerLink="/contact">
        Заказать
      </button>
    </div>
    <div class="mt-5 col-start-1 sm:col-span-2 lg:mt-6 lg:row-start-4 lg:col-span-1">
      <p *ngFor="let desc of detailData.describe"
         class="mt-1 text-sm leading-6 ">
        {{desc}}
      </p>
    </div>
  </div>
</main>
